
$body-background-color:#eaeaea;  //主体背景色

//导航栏
$nav-background-color:#FFF; //导航栏背景色
$nav-border-bottom-color:#fb7299; //导航栏底部切换条颜色
$nav-unchecked-color:#000; //Tab项未选中
$nav-checked-color:#fb7299;     //Tab项被选中


$small-fontColor:#999999;//小字体颜色
$small-fontSize:0.8em;//小字体大小

$share-btn-color:#36c27e;//分享按钮颜色
$toubi-btn-color:#fbc02d;//投币按钮颜色
$collet-btn-color:#ff99cc;//收藏按钮颜色
$collet-btn-color:#72b6ed;//缓存按钮颜色


body{

  background-color: $body-background-color;

}

html,body{
  width: 100%;
  height:100%;
}

a{
  text-decoration: none

}

.main-img{
  width: 100%;
}

.site-wrapper {
  display: table;
  width: 100%;
  background-color: $nav-background-color;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.inner {
  padding: 0 20px 0 20px;
}

.masthead-brand {
  margin-bottom: 0px;
  color: #fff;
  font-weight: bold;
}

.masthead-nav > li {
  display: inline-block;
}

.masthead-nav > li + li {
  margin-left: 20px;
}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: $nav-checked-color;
  color: $nav-unchecked-color;
  border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: $nav-checked-color;
  border-bottom-color: $nav-checked-color;
}
.masthead-brand {
  float: left;
}

/*
 * Affix and center
 */

@media (min-width: 992px) {
  .masthead,
  .cover-container {
    width: 700px;
  }
}

.item img{
  width: 100%;
}

//播放按钮
.play-div{
  position: relative;
  top: -11%;
  left: 82%;
  z-index: 100;

  img{
    width: 60px;
  }
}

//主要内容
.main-div{
  background-color: $body-background-color;
  width: 100%;
  margin-top: -55px;
}

/*卡片底部*/
.div-bottom{
  text-align: left;
  font-size: 10px;
  color: #999999;
  margin-top: 8px;
  padding-bottom: 10px;

  img{
    width: 12px;
    margin-right: 3px;
  }

  div{
    display: inline;
    margin: 0 10px 0 10px;
  }
}

//自定义div样式，分享，投币等
.mydiv{
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 50px;
  min-width: 20px;
  margin-right: auto;
  margin-left: auto;
}

.col-xs-3 {
  text-align: center;
  img{
    width: 80%;
  }
}